.root, AnchorPane, BorderPane, SplitPane, .scroll-pane, TilePane
{
    -fx-background-color: #454545;
}
.menu, .label, .context-menu, .menu-item, .menu-bar, VBox
{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
}
.toggle-button
{
    -fx-background-color: #7a330d;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-alignment: center;
}
.toggle-button:selected
{
    -fx-background-color: #2c2c2c;
}
.split-pane-divider
{
    -fx-background-color: #7a330d;
}
.separator, #top-seperator .line, #middle-separator .line
{
    -fx-border-color: #7a330d;
    -fx-background-color: #7a330d;
    -fx-border-width: 1 0 0 0;
}